<div class="menu-bars">
  <i class="ml fa fa-bars fa-3x"></i>
</div>
<header class="header">
  <nav class="header__nav-primary">
    <div class="header__nav-primary--row-1">
      <div class="header__nav-primary--row-1--logo">
        <img src="" alt="Ennoveon Logo">
      </div>
      <ul class="header__nav-primary--row-1--list-1">
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--button">
            FAQ &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-1x"></i>
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--button">
            News &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-1x"></i>
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--button">
            Contact Us &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-1x"></i>
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--button">
            Search &nbsp;&nbsp;&nbsp;<i class="fa fa-search fa-1x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="header__nav-primary--row-1">
      <ul class="header__nav-primary--row-1--list-2">
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Member Services
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Families & Individuals
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Employers & Clients
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Partners
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Find a Healthcare Professional
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            About Us
          </a>
        </li>
        <li class="header__nav-primary--row-1--list-1--item">
          <a href="#" class="header__nav-primary--row-1--list-1--link">
            Learn
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="header__nav-secondary">
    <div class="header__nav-secondary--row-1">
      <ul class="header__nav-secondary--row-1--list-1">
        <li class="header__nav-secondary--row-1--list-1--item">
          <a href="#" class="header__nav-secondary--row-1--list-1--link">
            <i class="fa fa-shopping-cart fa-2x"></i>&nbsp;&nbsp;&nbsp; Shop
          </a>
        </li>
        <li class="header__nav-secondary--row-1--list-1--item">
          <a href="#" class="header__nav-secondary--row-1--list-1--link">
            <i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;&nbsp; Sign Up
          </a>
        </li>
        <li class="header__nav-secondary--row-1--list-1--item">
          <a href="#" class="header__nav-secondary--row-1--list-1--link">
            <i class="fa fa-users fa-2x"></i>&nbsp;&nbsp;&nbsp; Sign to Your Member Account
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="section-info-1">
  <div class="bg-image1"></div>
  <div class="bg-image2">
    <p class="title">
      Skin Cancer
    </p>
    <p class="title">
      Devastates Lives
    </p>
    <p class="content">
      Learn how undetected skin cancer can result in serious consequences for families         
    </p>
    <p class="content">
      Late detection is chronic in the United States and even more so in other countries      
    </p>
    <div class="section-info-button">
      <a href="#" class="button">
        Read Our Report &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-1x"></i>
      </a>
    </div>
  </div>
</section>
<div class="section-info-2">
  <p class="content-2">
    AI (“Artificial Intelligence”) Assisted Personal Health Management will Change our Lives and Keep us Well      
  </p>
</div>
<div class="section-info-3">
  <p class="content-2">
    Ennoveon is Dedicated to Empowering Our Members With Superior Intelligent Cancer Protection      
  </p>
</div>
<div class="section-info-4">
  <p class="title-2">
    What Ennoveon Offers     
  </p>
  <p class="content-3">
    From analyzing images of moles, lesions, sores, and skin concerns using our precision AI-based smartphone
    software, to offering genetic testing, comprehensive reports, participating physicians, and a range of skin
    related products and services.  
  </p>
  <p class="content-4">
    Ennoveon is focused singularly on keeping our members skin cancer free. If cancer is detected, we are
    literally obsessed with catching it as early as possible, when it is most treatable and has not
    spread.     
  </p>
  <p class="content-4">
    The cost difference in handling skin cancers early or late in terms of finances and quality
    of life is immeasurable!     
  </p>
  <p class="content-4">
    <a class="content-4__link" href="#">LEARN MORE ABOUT OUR PRODUCTS AND SERVICES ></a>
  </p>
</div>
<div style="height: 600px; background-color: #000000; width: 95%; margin: auto;"></div>
<div style="height: 300px; background-color: #4472C4; width: 95%; margin: auto;"></div>




